h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    text-align: center;
}

h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    text-align: center;
}